

.main-banner__book {
  position: relative;
  background-image: url('../img/book-image.jpg');
  width: 245px;
  height: 245px;
  border-radius: 20px;
}

.main-banner-style {
  position: absolute;
  color: var(--1, #FFF);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  top: 97px;
  left: 20px;
}

.main-banner__hyphen {
  position: absolute;
  color: var(--1, #FFF);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  top: 106px;
  left: 137px;
}

.main-banner__present {
  position: absolute;
  color: var(--1, #FFF);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  bottom: 20px;
  left: 20px;
  }

.main-banner__clock {
  position: relative;
  background-image: url('../img/discount-time.jpg');
  background-repeat: no-repeat;
  width: 245px;
  height: 245px;
  border-radius: 20px;
}

.main-banner__time-of-sale {
  position: absolute;
  color: var(--1, #FFF);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  top: 78px;
  left: 14px;
}

.main-banner__circle {
  content: " ";
  position: absolute;
  top: 185px;
  left: 178px;
  transform: translate(-50%, -50%);
  width: 88px;
  height: 88px;
  background-color: #FFBD13;; 
  border-radius: 50%;
}

.main-banner__sale {
  position: absolute;
  color: #FFF;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  top: 22px;
  left: 19px;
}

.main-banner__redcross {
  position: relative;
  background-image: url('../img/red-cross.jpg');
  background-repeat: no-repeat;
  width: 550px;
  height: 245px;
  border-radius: 20px;
}

.main-banner__circlecross {
  content: " ";
  position: absolute;
  top: 69px;
  left: 70px;
  transform: translate(-50%, -50%);
  width: 88px;
  height: 88px;
  background-color: #FFBD13;; 
  border-radius: 50%;
}

.main-banner__salecross {
  position: absolute;
  color: #FFF;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  top: 22px;
  left: 19px;
}

.main-banner__second-pair {
  position: relative;
  background-image: url('../img/second-pair.jpg');
  background-repeat: no-repeat;
  width: 550px;
  height: 550px;
  border-radius: 20px;
}

.main-banner__border-banner {
  content: " ";
  position: absolute;
  bottom: 22px;
  left: 20px;
  width: 510px;
  height: 178.004px;
  background-color: #38C0EB; 
  border-radius: 20px;
}

.main-banner__second-pair-present {
  position: absolute;
  color: var(--1, #FFF);
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  top: 26px;
  left: 23px;
}
.main-banner__second-pair-to-present {
  position: absolute;
  color: var(--1, #FFF);
  font-family: Lato;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  bottom: 26px;
  left: 23px;
}

.main-banner__newyear {
  position: relative;
  background-image: url('../img/new-year.jpg');
  background-repeat: no-repeat;
  width: 1160px;
  height: 550px;
  border-radius: 20px;
}

.main-banner__white-board {
  position: absolute;
  width: 643px;
  height: 115px;
  border-radius: 20px;
  background: var(--1, #FFF);
  left: 50px;
  top: 385px;
}

.main-banner__newyear-decoration {
  position: absolute;
  color: #F91155;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  left: 42px;
  top: 32px;
  }

  .main-banner__new-year-idea  {
    position: relative;
    background-image: url('../img/img-pressents.jpg');
    width: 550px;
    height: 245px;
    border-radius: 20px;
  }

.main-banner__idea-newyear-presents {
  position: absolute;
  color: var(--1, #FFF);
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  left: 30px;
  top: 104px;
}

.main-banner__descember-sale {
  position: relative;
  background-image: url('../img/profit-dec.jpg');
  border-radius: 20px;
  width: 550px;
  height: 245px;
}

.main-banner__december-profit {
  position: absolute;
  color: var(--1, #FFF);
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  left: 30px;
  bottom: 30px;
}

.main-banner__circle-dec{
  content: " ";
  position: absolute;
  width: 88px;
  height: 88px;
  background-color: #FFBD13;; 
  border-radius: 50%;
  right: 20px;
  bottom: 20px;
}

.main-banner__sale-dec{
  position: absolute;
  color: var(--1, #FFF);
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  left: 9px;
  top: 24px;
}

.main-banner__red-dress {
  position: relative;
  background-image: url('../img/red-dress.jpg');
  border-radius: 20px;
  width: 245px;
  height: 550px;
}

.main-banner__circledress {
  content: " ";
  position: absolute;
  width: 88px;
  height: 88px;
  background-color: #FFBD13;; 
  border-radius: 50%;
  right: 20px;
  bottom: 20px;
}

.main-banner__saledress {
  position: absolute;
  color: var(--1, #FFF);
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  left: 9px;
  top: 24px;
}

.main-banner__chemical-house {
  position: relative;
  background-image: url('../img/house-chemical.jpg');
  border-radius: 20px;
  width: 245px;
  height: 245px;
  
}
.main-banner__cemical-text {
  position: absolute;
  color: var(--1, #FFF);
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  left: 20px;
  bottom: 20px;
  }

  .main-banner__circle-chemical {
    content: " ";
    position: absolute;
    width: 88px;
    height: 88px;
    background-color: #FFBD13;; 
    border-radius: 50%;
    left: 20px;
    top: 20px;
  }

  .main-banner__christmas-decoration {
    background-image: url('../img/christmas-decoraton.jpg');
    width: 245px;
    height: 245px;
    border-radius: 20px;
  }