

.main-banner__book {
  position: relative;
  background-image: url('../img/book-image.jpg');
  width: 245px;
  height: 245px;
  border-radius: 20px;
}

.main-banner-style {
  position: absolute;
  color: var(--1, #FFF);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  top: 97px;
  left: 20px;
}

.main-banner__hyphen {
  position: absolute;
  color: var(--1, #FFF);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  top: 106px;
  left: 137px;
}

.main-banner__present {
  position: absolute;
  color: var(--1, #FFF);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  bottom: 20px;
  left: 20px;
  }

.main-banner__clock {
  position: relative;
  background-image: url('../img/discount-time.jpg');
  background-repeat: no-repeat;
  width: 245px;
  height: 245px;
  border-radius: 20px;
}

.main-banner__time-of-sale {
  position: absolute;
  color: var(--1, #FFF);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  top: 78px;
  left: 14px;
}

.main-banner__clock ::before {
  content: " ";
  position: absolute;
  top: 245%;
  left: 84%;
  transform: translate(-50%, -50%);
  width: 88px;
  height: 88px;
  background-color: #FFBD13;; 
  border-radius: 50%;
}

.main-banner__sale {
  color: var(--1, #FFF);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}