.header {
  padding: 27px 0;
}

.header__container {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  align-items: center;
  margin-bottom: 90px;
}

.header__title-shop {
  display: grid;
  max-width: 190px;
  grid-template-columns: 83px 95px;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.8px;
  
}

.header__shop {
  color: #2D2D2D;
}

.header__online {
  color: #3670C7;
}

.header__burger {
  position: relative;
  left: 55px;
  top: 15px;
}

.header__menu-button {
  display: grid;
  width: 151px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 5px;
  background-image: url('../img/button-background.svg');
  color: aliceblue;
  text-align: center;
  align-content: center;
  background-repeat: no-repeat;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  font-family: "Lato";
}

.header__nav-bar {
  display: grid;
  grid-template-columns: 40px 20px;
  
}

.header__search-border {
  border-radius: 30px;
  background: #EFEFEF;
  width: 757px;
  height: 54px;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  padding-left: 40px;
  border:none;
  color:#8F8F8F;
}

.header__search-button {
  position: relative;
  right: 102px;
  width: 100px;
  height: 54px;
  border-radius: 50px;
}
/* ========================================= */
.header__icons {
  display: grid;
  grid-template-columns: 69px 90px 82px;
}

.header__human {
  justify-self: center;
  position: relative;
  left: 15px;
}

.header__union {
  position: relative;
}

.header__bascet {
  position: absolute;
  left: 33px;
  top: 3px;
}

.header__circle {
  position: absolute;
  left: 51px;
}

.header__number {
  position: absolute;
  left: 51px;
}
.header__cart-sign {
  position: relative;
  top: 40px;
  left: 15px;
}

.header__elements {
  display: grid;
  align-items: center;
}

