

.main-banner__block {
  position: relative;
  background-image: url('../img/main-banner.jpg');
  width: 1770px;
  height: 480px;
  flex-shrink: 0;
  border-radius: 20px;
}

.main-banner__title {
  position: absolute;
  color: var(--1, #FFF);
  font-family: Lato;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  top: 145px;
  left: 112px;
}

.main-banner__subtitle {
  position: absolute;
  color: var(--1, #FFF);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  top: 336px;
  left: 823px;
}

.main-banner__date {
  position: absolute;
  left: 649px;
  bottom: 40px;
}

.main-banner__num {
  color: var(--1, #FFF);
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-right: 6px;
}

.main-banner__transcript {
  color: var(--1, #FFF);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-right: 8px;
}


